* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  color: darkgrey;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}
header, form {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input,
.todo-button {
  border: none;
  background: white;
  padding: 0.5rem;
  font-size: 2rem;
}

.todo-button {
  color: darkgrey;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-button:hover {
  background: orange;
  color: white;
}

.todo-container {
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 450px;
}

.todo {
  margin: 1rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.todo li {
  flex: 1;
}

.done-btn {
background: white;
color: darkgrey;
border: none;
padding: 1rem;
cursor: pointer;
font-size: 1rem;

}
.done-btn:hover {
  background: green;
  color: white;
}

.delete-btn {
background: white;
color: darkgrey;
border: none;
padding: 1rem;
cursor: pointer;
font-size: 1rem;
  
  }
.delete-btn:hover {
  background: red;
  color: white;
  }

.completed {
  text-decoration: line-through;
  opacity: 0.3;
  color: palevioletred;
  }
.todo-item {
  padding: 0rem 0.4rem;
  overflow: hidden;
  overflow-wrap: break-word;
  }

.input-error {
  color: red;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
}